<div class="valentine-container" #containerRef>
  <div class="card" #cardRef>
    <h1>Will you be my Valentine?</h1>

    <div class="controls">
      <button class="yes" (click)="goSurprise()">YES😃</button>
      <div class="no-wrap" #noWrap (mouseenter)="startNoHover()" (mouseleave)="stopNoHover()">
          <button class="no" #noBtn (click)="onNoClick($event)">NO🙁</button>
          <div class="no-msg" [class.visible]="showMsg">{{msg}}</div>
      </div>
    </div>
  </div>
  
  <div class="hint">Tip: Click YES to see a special surprise 💌</div>
</div>
